.player-setup {
  margin: 0 auto 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-setup h2 {
  margin: 0;
}
.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-group label {
  min-width: 150px;
  font-weight: bold;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.options__rounds {
  display: flex;
}
.options__rounds-item {
  margin: 0;
}
.options__rounds-item_current {
  font-size: 25px;
  font-weight: 600;
  line-height: 18px;
}
.options__block-dart {
  display: flex;
  gap: 5px;
}
.options__block-dart-item {
  width: 24px;
  background: url(../../assets/dart.png) no-repeat;
}

