.player-setup {
  max-width: 100%;
  margin: 0 auto 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-setup h2 {
  margin: 0;
}
.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-group label {
  min-width: 150px;
  font-weight: bold;
}

.button-start {
  background-color: rgb(231, 255, 165);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.button-start:active {
  transform: translateY(1px);
  box-shadow: none;
}


.options{
  width: 100%;
display: flex;
justify-content: space-between;
}

.options__rounds{
  display: flex;
}
.options__rounds-item{
  margin: 0;
}
.options__rounds-item_current{
  font-size: 25px;
  font-weight: 600;
  line-height: 18px;
}
.options__block-dart{
  display: flex;
  gap: 5px;
}
.options__block-dart-item{
  width: 24px;
  background: url(../../assets/dart.png) no-repeat  ;

}