#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  text-align: center;

}
body{margin: 0;padding: 0;}


.player-list {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 1px;


}


