#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

}
body{margin: 0;padding: 0;}


.player-list {
  display: flex;
  justify-content: center;
  gap: 1px;
  padding: 0 5px;
  border: 1px red solid;
}


